# Default ignored files
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
/weatherex.iml
/lib
/target
/uploads
/src/test/java/ошибки