<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <meta http-equiv="Context-Type" context="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, {{name}} </div>
</body>
</html>