<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h3><i>Добавление нового пользователя</i></h3>
{{#message}}
    {{message}}
{{/message}}
    <div>
        <form action="/registration" method="post">
            <div><label> User name: <input type="text" name="username"/></label></div>
            <div><label> Password: <input type="pasword" name="password"/></label></div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <div><input type="submit" value="Sign in "/></div>
        </form>
    </div>
</body>
</html>